<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cafe Simulator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Cafe Simulator</h1>
        <span>A Zero Daedalus Game</span>
    </header>

    <main>
        <div class="options">
            <select name="bean" id="bean">
                <option value="gourmet">Gourmet Shit</option>
                <option value="hipster">Hipster Shit</option>
                <option value="good">Good Shit</option>
                <option value="bad">Cheap Shit</option>
                <option value="actual">Actual Shit</option>
            </select>
            <select name="price" id="price">
                <option value="well below">Well Below Cost</option>
                <option value="below">Below Cost</option>
                <option value="at">At Cost</option>
                <option value="above">Above Cost</option>
                <option value="well above">Well Above Cost</option>
            </select>
            <button id="next">Next Turn</button>
        </div>

        <div class="infobar">
            <p>
                Week: <span id="week"></span>
            </p>
            <p>
                Customers: <span id="customers"></span>
            </p>
            <p>
                Revenue: <span id="revenue"></span>
            </p>
            <p>
                Expenses:<span id="expenses"></span>
            </p>
            <p>
                Tips: <span id="tips"></span>
            </p>
            <p>
                Profit/Loss: <span id="net"></span>
            </p>
        </div>
    </main>
    
    <script src="script.js"></script>
</body>
</html>